.glMain {
    min-width: 300px;
    max-width: 800px;
}

.glMidle {
    overflow: hidden;
    margin: 5px;
}

.glMidLeft {
    width: 200px;
    min-width: 200px;
    background-color: lightgrey;
    float: left;
}

.glMidRight {
    float: right;
    min-width: 200px;
    
    background-color: rgb(115, 207, 207);
}

.productitem {
    overflow: hidden;
}

.p_id  {
    float: left;
    width: 40px;
}

.p_name  {
    float: left;
    width: 100px;
}

.p_articul  {
    float: left;
    width: 70px;
}

.p_price {
    float: left;
    width: 70px;
}


h1 {
    color: blue
}

.debug {
    visibility: visible;
}
