.glMain {
    max-width: 1000px;
    margin: auto;
    background-color: #b5cef5;
    -webkit-text-size-adjust: auto
}



@media  screen and (max-width: 625px)  {
    .glMain {
        min-width: 400px;
        width: 90%;
        margin: auto;
        background-color: #e6d1f3;
    }
    .glMidLeft {
        display: block !important; 
        width: auto !important;
        float: none !important;
        background-color: white;
        margin: 2px;
        padding: 5px;
        border-radius: 5px;
    }
}

#glTop {
    height: 150px;
    background-image:url(/assets/img/MyCollages.jpg);
    overflow: hidden;
}

#glTop10, #glTop10 {
    overflow: hidden;

}

#glTop1 {
    background-color: white;
    font-size: 40px;
    float: left;
    margin: 10px;
    border-radius: 5px;
    padding: 2px;
    font-style: oblique;
}

#glTop2 {

    float: left;

}
#glTop3 {
    background-color: white;
    font-size: 30px;
    float: right;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 2px;
}


.glMidle {
    overflow: hidden;
    margin: 5px;
}

.glMidLeft {
    width: 200px;
    min-width: 200px;
    float: left;
    background-color: white;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

.glMidRight {
    float: none;
    overflow: auto;

    min-width: 300px;
    background-color: white;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

}

.glBottom {
    word-wrap: break-word;
    background-color: #030811;
    color: rgb(179, 177, 177);
}

.RoundRectDark {
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    background-color: #b5cef5;
}

.RoundRectDark_a {
    display: inline-flex;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: #312c4d;
   
}



.RoundRectDark_a a {
    color: white;

}


.productitemcaption {
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    background-color: #312c4d;
    color: white;
}

.cartitemcaption {
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    background-color: #312c4d;
    color: white;
}

.productitem {
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    background-color: #eeeeee;
}

.p_date {
    float: left;
    width: 80px;
    text-align: left;
    padding: 5px;
}

.p_id {
    float: left;
    width: 40px;
    text-align: right;
    padding: 5px;
}

.p_name {
    float: left;
    min-width: 150px;
    word-wrap: break-word;
    padding: 5px;
}

.p_articul {
    float: left;
    width: 70px;
    word-wrap: break-word;
    padding: 5px;
}

.p_price {
    float: left;
    width: 70px;
    text-align: right;
    padding: 5px;
}

.p_img {
    float: left;
    width: 120px;
    padding: 5px;
}

.p_img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

input {
    margin: 0px 0px 4px 0px;     
}

input[name="price"] {
    width: 70px;
}



button,input[type="button"],input[type="submit"] {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: #312c4d;
    color: white;

}

#div_inputaddress, #div_d_sum {
    border: solid 1px;
    margin: 0px 0px 4px 0px;
}


h1 {
    color: #04145c;
}

.debug {
    visibility: visible;
}