<h1><%= title %> page</h1>

<form  method="get">
    <button value=cmd_dbcreate  type="submit" name="btn" formaction="/init"> DB Create </button>
    <button value=cmd_dbClearCarts  type="submit" name="btn" formaction="/init"> DB Clear Carts </button>
</form>

<h3><%- msg %></h3>
